{{define "post/new"}}

<div class="mt-5 mb-5 text-left">
  <div class="row justify-content-center">
    <div class="col-lg-9">
      <h1> {{.Action}} post </h1>
    </div>
  </div>
</div>

<div class="py-5 border-top text-center">
  <div class="row justify-content-center">
    <div class="col-lg-9">
      <!-- Form start -->
      <form enctype="multipart/form-data" role="form" class="text-left" action="new" method="POST">

        <div class="form-group">
          <label for="title">Title (max. 100)</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-header"></i></span>
            </div>
            <input class="form-control" name="title" value="{{.Post.Title}}" id="title" placeholder="Title" type="text"
              maxlength="100" minlength="1">
          </div>
        </div>

        <div class="form-group">
          <label for="text">Text </label>
          <input id="Text" type="hidden" name="text" value="{{ .Post.Text }}">
          <div id="editor" class="mb-3"></div>
        </div>

        <div class="input-group">
          <div class="input-group-prepend">
            <span id="uploadIcon" class="input-group-text align-items-start"><i class="fa fa-image"></i></span>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="photo" id="photo" aria-describedby="uploadIcon">
            <label class="custom-file-label" for="photo">Choose file... (jpg, png)</label>
          </div>
        </div>





        {{if .Error}}
        <div class="text-muted"><small>please fix:
            <span class="text-danger font-weight-700">
              {{.Error}}</span></small></div>
        {{end}}
        <div class="text-center">
          <input type="submit" value="Save" class="btn btn-primary mt-4">
        </div>
      </form>

      <!-- form end -->
    </div>
  </div>
</div>

<!-- editor plugin -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js" defer></script>

<script>
  console.log($("#Text").val());
  $(document).ready(() => {
    $('#editor').summernote({
      tabsize: 2,
      height: 320,
      toolbar: [
        ['style', ['style']],
        ['font', ['bold', 'underline', 'clear']],
        ['color', ['color']],
        ['para', ['ul', 'ol', 'paragraph']],
        ['table', ['table']],
        ['insert', ['link']],
        ['view', ['fullscreen', 'codeview']]
      ],
      callbacks: {
        onKeyup: function (e) {
          let body = $('#editor').summernote('code').trim();
          console.log("body", body);
          if (body == "" || body.length === 0 ||
            body.trim() === "<br>" || body.trim() === "<p>" ||
            body === '<p><br></p>') return
          $("input[name=text]").val(body);
        }
      }
    });
    $('#editor').summernote('code', $("#Text").val())
  })
</script>

{{end}}